@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');


:root{
    --cor_primaria: #050C9C;
    --cor_secundaria: #F6F6F6;
    --cor_terciaria: #3ABEF9;
    --cor_hover: #3572EF;

    --fonte_primaria: "Krona One", sans-serif;
    --fonte_secundaria: "Montserrat", sans-serif;
}  

/* :root{
    --cor_primaria: #000000;
    --cor_secundaria: #F6F6F6;
    --cor_terciaria:#22D4FD;
    --cor_hover: #2222;

    --fonte_primaria: "Krona One", sans-serif;
    --fonte_secundaria: "Montserrat", sans-serif;
} */



body{
    box-sizing: border-box;
    background-color: var(--cor_primaria);
    color: var(--cor_secundaria);
}

.fraseDestaque{
    color: var(--cor_terciaria);
}

.conteudoCentral{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
    gap: 18px;
}

.conteudoCentral__conteudo{
    width: 49%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
}

.tituloPrincipal{
    font-size: 1.87rem;
    font-family: var(--fonte_primaria);
}

.descricao{
    font-size: 1.5rem;
    font-family: var(--fonte_secundaria);
    margin-top: 1px;
}
.linkBotoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor_primaria);
    width: 59%;
    text-align: center;
    border: 1px solid var(--cor_terciaria);
    border-radius: 8px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor_secundaria);
    font-size: 0.93rem;
    font-family: var(--fonte_secundaria);
    font-weight: 600;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.linkBotoes:hover{
    background-color: var(--cor_hover);
    box-shadow: 2px 2px  10px var(--cor_hover);
}

.subtitulo{
    font-family: var(--fonte_primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.logoWhatsapp{
    display: fixed;
    width: 100px;
    margin-left: 92%;
    position: fixed;
    bottom: 10px;
    transition: transform 0.3s ease;
}

.logoWhatsapp:hover{
    box-sizing: content-box;
    transform: scale(1.1);
}

.botaoWhatsapp{
    display: flex;
    box-sizing: border-box;
}

.assinatura{
   display: flex;
   justify-content: center;
}

.cabecalho__menu__link{
    font-family: var(--fonte_secundaria);
    font-size: 1.1rem;
    color: var(--cor_secundaria);
    font-weight: 600;
    text-decoration: none;
    transition: 0.25ms;
    border: solid 1px;
    padding: 10px;
    border-radius: 8px;
    border-color: var(--cor_secundaria);
    margin-top: 10px;
}

    

.cabecalho__menu__link:hover{
    transition: 1ms;
    transform: scale(1.1);
    box-shadow: 1px 1px 50px -3px;
    background-color: var(--cor_hover);
}

.cabecalho{
    padding: 10px 0 0 0;
}

.cabecalho__menu{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.conteudoCentral__conteudo__sobreMim{
    color: var(--cor_terciaria);
}

.descricao__SobreMim{
    text-align: justify;
    font-family: var(--fonte_secundaria);
    width: 90%;
    font-size: 1.12rem;
}

.porqueMe{

    color: var(--cor_terciaria);
    margin-bottom: 1px;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills__opcoes{
    font-family: var(--fonte_secundaria);
    font-size: 1.12rem;  
}

.skill__opcoes__tituloDestaque{
    color: var(--cor_secundaria);
}

.fotoDesenvolvendo{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 250px;
}

.fotoDesenvolvendo__foto{
    width: 500px;
    border-radius: 9%;
}

.fotoDesenvolvendo__foto2{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.fotoDesenvolvendo__foto3{
    width: 500px;
    border-radius: 9%;
}

@media (max-width: 1200px){
    .conteudoCentral{
        width: auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .fotoPerfil{
        width: 350px;
    }

    .fotoDesenvolvendo__foto{
        display: flex;
        align-items: flex-end;
        width: 350px;
    }

    .fotoDesenvolvendo__foto3{
        width: 450px;
        margin-bottom: 25px;
        margin-top: 0px;
        padding-top: 0px;    
    }

    .descricao__SobreMim{
        text-align: left;
    }
} 

@media  (min-width:505px) and (max-width:1200px){
    .conteudoCentral__conteudo{
        width: auto;
        padding: 5px;
    }

    .logoWhatsapp{
        margin-left: 88%;
    }

    .fotoDesenvolvendo__foto{
        width: 100%;
    }
}

@media (max-width:760px){
    .logoWhatsapp{
        margin-left: 85%;
    }
} 

@media (max-width:608px){
    .logoWhatsapp{
        margin-left: 80%;
    }
} 

@media (max-width:504px){
    .conteudoCentral__conteudo{
        width: auto;
    }
}

@media (max-width:490px){
    .subtitulo{
        text-align: center;
    }
}

@media (max-width: 510px){
    .conteudoCentral__conteudo{
        width: auto;
    }
}

@media( max-width:446px){

    .fotoPerfil{
        width: 100%;
    }

    .fotoDesenvolvendo__foto{
        width: 100%;
    }

    .logoWhatsapp{
        margin-left: 78%;
    }

    .botoes{
        flex-direction: column;
        justify-content: center;
    }
}

@media( max-width:474px){
    .fotoPerfil{
        width: 100%;
    }
}